*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: white
}

i {
    color:#fd4;
}
.rating-container {
    margin-top: 10px;
    font-size: 30px;
}


.ulasan {
    margin-left: 20px;
    font-size: 20px;
    color: #888;
}

.rating {
    text-align: center;
    margin-top: 10px;
    
    
}

.rating label {
    color: white;
    text-shadow: 2px 2px 2px black, -1px -1px 1px #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    
}

.rating select {
    cursor: pointer;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 38px;
    
}

form {
    margin-bottom: 20px;
}

p { 
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px #aaa;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 200px;
    height: 40px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.no-result {
    font-style: italic;
}

@media (min-width: 768px) {
    p {
        display: inline-block;
        width: 30%; /* Sesuaikan lebar sesuai kebutuhan */
        box-sizing: border-box;
        margin-right: 20px;
        vertical-align: top;
    }
}



